 /* Variables de colores */
 :root {
    --primary-color: #1db954;
    --secondary-color: #191414;
    --text-color: #ffffff;
    --background-color: #121212;
    --input-bg: rgba(255, 255, 255, 0.1);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Fondo y contenedor */
body {
    background: url('https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2021/06/auriculares-2378859.jpg?tf=3840x') no-repeat center center/cover;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    transition: background 0.3s ease;
    background-size: cover;
}

/* Contenedor principal */
.container {
    width: 100%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    font-size: 36px;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #1ed760;
}

/* Responsividad */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        width: 90%;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .button {
        padding: 10px 18px;
    }
}